@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font: normal 100%/1.5 sans-serif;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
	 html {
		 
		 font-size: 110%;
	 }
}
	
@media only screen and (min-width: 90em) {
	 html {
		 
		 font-size: 120%;
	 }
}
	
@media only screen and (min-width: 120em) {
	 html {
		 
		 font-size: 130%;
	 }
}
		
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

a:focus {
	outline:3px solid #000;
}

/*
It is okay to get rid of the focus rectangle for mouse users BUT NEVER REMOVE IT FOR KEYBOARD USERS!!!!!!
*/

.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}	

.skip-links a {
	position: absolute;
	top: -3em;
	padding: 0.5em 0.75em;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	font-size: 1.25em;
	text-decoration: none;
}

.skip-links a:focus {
	top: 0;
}

img {
	display: block;
 	width: 100%;
}

.nav li {
	color: #0074D9;
}

.nav a {
	text-decoration: none;
	display: block;
}

.nav {	
	list-style-type: none;
	padding: 0;
}

.grey {
	background-color: #CCC;
	overflow: hidden;
}

.light-grey {
	background-color: #e2e2e2;
	overflow: hidden;
	text-align: center;
}

.light-grey2 {
	background-color: #e2e2e2;
	overflow: hidden;
}

.light-grey3 {
	background-color: #efefef;
	overflow: hidden;
}

.title {
	text-align: center;
}
	
.nav-footer {
	text-align: left;
}
	
.copyright-footer {
	text-align: left;
}

.hide {
	display:none;
}

@media only screen and (min-width: 25em) {
	
	.nav li {
		display: inline-block;
	}
	
	.nav {
		text-align: center;
	}
	
	.nav-footer {
		text-align: center;
	}
	
	.copyright-footer {
		text-align: center;
	}
	
	.pad-right {
		padding-right: 1em;
	}

	.dot:after {
		content: "·";
		padding-left: .5em;
		padding-right: .5em;
	}

	.nav-footer a {
		display: inline-block;
	}
		
	.hide {
		display: inline-block;
	}
}

.pad-left {
	padding-left: 1em
}

@media only screen and (min-width: 38em) {
	
	.title {
		float: left;
	}
	
	.nav {
		float: left;
	}		
	
	.nav-footer {
	text-align: right;
	float: none;
	}
	
	.copyright-footer {
		text-align: left;
	}
	
	.data {
		text-align: right;
	}
	
	.text-padding {
		padding-left: 1em;
	}
	
		.dot:after {
		content: "·";
		padding-left: .5em;
		padding-right: .25em;
	}

	.nav-footer a {
		display: inline-block;
	}
		
	
}

@media only screen and (min-width: 38em) {
	
  dt {
		float: left;
		clear: left; 
		width: 13em;
	}

	dd {
		float: left;
	}
	
}

